params {
    paired_reads = false
    paired_manifest = false
    single_reads = false
    single_manifest = false
    ref = false
    ref_fasta = false
    output_folder = false
    container__trust4 = "quay.io/biocontainers/trust4:1.0.6--h2e03b76_1"
}

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/FredHutch/pw-bulk-rna-immune-clonotypes'
    mainScript = 'main.nf'
    name = 'Bulk RNAseq Immune Clonotype Analysis (PubWeb)'
    nextflowVersion = '>=21.04.0'
    version = '1.0'
}

profiles {
    standard {
        process {
            withLabel: io_limited {
                cpus = 1
                memory = 4.GB
            }
            withLabel: mem_medium {
                cpus = 4
                memory = 30.GB
            }
            withLabel: cpu_medium {
                cpus = 8
                memory = 15.GB
            }
            withLabel: cpu_verylarge {
                cpus = 36
                memory = 58.GB
            }
            errorStrategy = 'retry'
            maxRetries = 5
        }
    }
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
        process {
            withLabel: io_limited {
                cpus = 1
                memory = 1.GB
            }
            withLabel: mem_medium {
                cpus = 1
                memory = 1.GB
            }
            withLabel: cpu_medium {
                cpus = 1
                memory = 1.GB
            }
            withLabel: cpu_verylarge {
                cpus = 1
                memory = 1.GB
            }
            errorStrategy = 'retry'
            maxRetries = 5
            maxForks = 10
        }
    }
}
