params {
    paired_path = false
    paired_manifest = false
    single_path = false
    single_manifest = false
}

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/FredHutch/pw-bulk-rna-immune-clonotypes'
    mainScript = 'main.nf'
    name = 'Bulk RNAseq Immune Clonotype Analysis (PubWeb)'
    nextflowVersion = '>=21.04.0'
    version = '1.0'
}
